<!--========================================================-->
<!-- This footer was constructed with the help of Bootstrap. -->
<!-- The template came from SilentCoding of Bootsnipp. --------->
<!--===========================================================-->

<!-- views/partials/footer.ejs -->

<footer>
     <div class="container">
       <div class="row">

                <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                    <ul class="about">
                         <span>About</span>
                         <li>
                            <p>Lorem ipsum dolor sit amet, vero omnis vocibus</p>
                          </li>

                          <li>
                            <p>sparklines@gmail.com</p>
                          </li>
                     </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <ul class="contact">
                         <span>Contact</span>
                         <li>
                            <a href="#">Home</a>
                          </li>

                          <li>
                             <a href="/home/create">Add Article</a>
                          </li>

                          <li>
                            <a href="#">Blog</a>
                          </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                   <ul class="social">
                              <span>Social</span>

                               <li>
                                    <a href="https://github.com/Tsardines"><i class="fa fa-github fa-2x"></i></a>
                               </li>

                               <li>
                                    <a href="https://www.linkedin.com/in/haley-sulcer-39857a97/"><i class="fa fa-linkedin fa-2x"></i></a>
                               </li>

                               <li>
                                    <a href="https://www.instagram.com/hjsulcer/"><i class="fa fa-instagram fa-2x"></i></a>
                               </li>

                               <li>
                                    <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                              </li>
                     </ul>
                </div>


           </div>
        </div>
    </footer>
