

<% include partials/navbar.ejs %>


<form class="form-horizontal" action="/home/create" method="post">
  <fieldset>

  <!-- Form Name -->
  <legend>Add an Article</legend>

<!-- Name/Source -->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Article Source</label>
  <div class="col-md-4">
  <input id="name" name="title" type="text" class="form-control input-md">

  </div>
</div>

  <!-- Author -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="author">Author</label>
    <div class="col-md-4">
    <input id="author" name="author" type="text" class="form-control input-md">

    </div>
  </div>

  <!-- Title -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="title">Article Title</label>
    <div class="col-md-4">
    <input id="title" name="title" type="text" class="form-control input-md">

    </div>
  </div>

  <!-- Description -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="description">Give a brief description</label>
    <div class="col-md-4">
    <input id="description" name="description" type="text" class="form-control input-md">

    </div>
  </div>

  <!-- url -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="content">Enter the url</label>
    <div class="col-md-4">
    <input id="url" name="url" type="text" class="form-control input-md">

    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="submit"></label>
    <div class="col-md-4">
      <button id="submit" name="submit" class="btn btn-success">Submit</button>
    </div>
  </div>


  </fieldset>
</form>


<% include partials/footer.ejs %>
