
<% include partials/navbar.ejs %>

  <!-- Form Name -->
  <h2>Edit article</h2>

    <form action="<%= `/home/${article.id}?_method=PUT` %>" method="post" class="edit-form">

  <!-- Edit title -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="title">Article Title</label>
    <div class="col-md-4">
    <input id="title" name="title" type="text" value="<%= article.title%>" placeholder="title" class="form-control input-md">

    </div>
  </div>

  <!-- Edit name/source -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="title">Article Source</label>
    <div class="col-md-4">
    <input id="title" name="title" type="text" value="<%= article.name%>" placeholder="title" class="form-control input-md">

    </div>
  </div>

  <!-- Edit url -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="url">URL</label>
    <div class="col-md-4">
    <input id="url" name="url" type="text" value="<%= article.url%>" placeholder="url" class="form-control input-md">

    </div>
  </div>

  <!-- Button -->


    <button class="article-save-button">Save</button>
  </form>


<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button class="todo-save-button">Save</button>
  </div>
</div> -->

  </fieldset>
</form>

<% include partials/footer.ejs %>
