
<body>

<% include partials/navbar.ejs %>

<div class="block">
  <% articles.forEach((everyArticle) => {%>


    <h3><strong><%= everyArticle.title %></strong></h3>
      <p>
        <%= everyArticle.url %>

      <!-- Edit Button -->
      <!-- <div class="form-group">
      <label class="col-md-4 control-label" form="edit"></label>
      <div class="col-md-4">
        <button id="edit" name="edit" class="btn btn-success"> <a href="/articles/:id/edit">Edit Article</a></br></br></button>
      </div>
          </div> -->

      </p>
    <%})%>

</div>

  <% include partials/footer.ejs %>

<!-- footer icons -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>


</body>
