<% include partials/navbar.ejs %>

<body>

    <h3>
      <strong> <%= article.title %> </strong>
    </h3>

    <p>
      <%= article.url %>
    </p>

    <!-- Edit Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="edit"></label>
      <div class="col-md-4">
    <button id="edit" name="edit" class="btn btn-success">Edit Article</button>
      </div>
    </div>

  <!-- Delete -->
    <form action="/articles/<%=article.id%>?_method=DELETE"
      method="POST">
      <button type="submit">Remove this article?</button>
    </form>



</body>

</html>
